<h1><%= content_for(:title, "PokeRails | Home") %></h1>
<div class="jumbotron">
    <h1>Welcome to Pokemon on Rails.</h1>
</div>

<div>
  <div class="col-md-4">
    PokeRails is fantastic!
  </div>

  <div class="col-md-4">
    This is the most ingenuious creation ever! Free too!
  </div>

  <div class="col-md-4">
    PokeRails is, by the way, fantastic!
  </div>
</div>