<h1><%= content_for(:title, "PokeRails | Inventory") %></h1>

<h1>My Inventory</h1>

<h2>Medicine</h2>
<table>
  <thead>
    <tr>
      <th class="col-md-2"><b>Name</b></th>
      <th class="col-md-2"><b>Price</b></th>
      <th class="col-md-2"><b>Category</b></th>
      <th class="col-md-2"><b>Quantity</b></th>
    </tr>
  </thead>
</table>


<hr>
<h2>Pokeballs</h2>
<table>
  <thead>
    <tr>
      <th class="col-md-2"><b>Name</b></th>
      <th class="col-md-2"><b>Price</b></th>
      <th class="col-md-2"><b>Category</b></th>
      <th class="col-md-2"><b>Quantity</b></th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>


<hr>
<h2>Evolution Stones</h2>
<table>
  <thead>
    <tr>
      <th class="col-md-2"><b>Name</b></th>
      <th class="col-md-2"><b>Price</b></th>
      <th class="col-md-2"><b>Category</b></th>
      <th class="col-md-2"><b>Quantity</b></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>