<h1><%= content_for(:title, "PokeRails | Trainers") %></h1>

<h1>Welcome to PokeRails, <%= "#{current_user.username}" %>!</h1>
<p>No shenanigans! Start exploring the maps below! </p>

<div class="container text-center">
<div>
	<div class="col-md-4">
		<pre>Map # 1 Goes Here </pre>
	</div>
	<div class="col-md-4">
		<pre>Map # 2 Goes Here </pre>
	</div>
	<div class="col-md-4">
		<pre>Map # 3 Goes Here </pre>
	</div>
</div>
<div>
	<div class="col-md-4">
		<pre>Map # 1 Goes Here </pre>
	</div>
	<div class="col-md-4">
		<pre>Map # 2 Goes Here </pre>
	</div>
	<div class="col-md-4">
		<pre>Map # 3 Goes Here </pre>
	</div>
</div>
</div>